<h3 class="offset-5">LISTA DE CERVEZAS</h3>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                    <table class="table">
                            <thead class="thead-dark">  
                                <tr>
                                    <th >NOMBRE</th>
                                    <th >TIPO</th>
                                    <th >PRECIO</th>
                                    <th >STOCK</th>
                                    <th > + / -</th>
                                    <th >IMAGEN</th>      
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr [ngClass]="{fondo : cerveza.oferta}" *ngFor= "let cerveza of cervezas">
                                    <td>{{cerveza.name}}</td>
                                    <td>{{cerveza.description}}</td>
                                    <td>{{cerveza.precio | currency:'CAD'}}</td> 
                                    <td>
                                        <span *ngIf = "cerveza.stock < 1"> NO HAY</span>
                                        <span *ngIf = "cerveza.stock > 0">{{cerveza.stock}}</span>
                                    </td>
                                    <td>
                                        <button (click)="masBeer(cerveza)"> + </button>
                                        <button [disabled]="cerveza.stock <= 0" (click)="menosBeer(cerveza)"> - </button>
                                        <input type="text" (keypress)="soloNumeros($event)" [(ngModel)]="cerveza.stock">
                                    </td>
                                    <td><img [src]="cerveza.imagen" alt=""></td>
                                </tr>
                            </tbody>
                    
                        </table>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
